extends layout

block content
			.col-xs-12
			nav.navbar-default
				.container-fluid
					.navbar-header
						button(type="button", class="navbar-toggle collapsed", data-toggle="collapse", data-target="#navbar", aria-expanded="false", aria-controls="navbar")
							span.sr-only Toggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
						a.navbar-brand(href='#') CyberArms
					#navbar.navbar-collapse.collapse
						ul.nav.navbar-nav.navbar-right
							li.nav-item.navz
								a.navz(href="/") Home
							li.nav-item.dropdown.navz
								a.dropdown-toggle.navz.active.nav-link(href="/downloads", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false")
										| Download 
										span.caret
									ul.dropdown-menu
										li.nav-item.navz.stuff14
											a.navz.stuff14.nav-link(href="/download/software") Software
										li.nav-item.navz.stuff14
											a.navz.stuff14.nav-link(href="/download/movies") Movies
										li.nav-item.navz.stuff14
											a.navz.stuff14.nav-link(href="/download/tv") TV
										li.nav-item.navz.stuff14
											a.navz.stuff14.nav-link(href="/download/games") Games
										li.nav-item.navz.stuff14
											a.navz.stuff14.nav-link(href="/download/music") Music
										li.nav-item.navz.stuff14
											a.navz.stuff14.nav-link(href="/download/books") Books
							li.nav-item.navz
								a.navz.nav-link(href="/upload") Upload
							li.nav-item.navz
								a.navz.nav-link(href="/about") About
							li.nav-item.navz
								a.navz.nav-link(href="/contact") Contact
			.container-fluid.text-xs-center
				.jumbotron
					.page-header
						h1.stuff16 Games
						hr
						h2.stuff17 Code that runs & makes pretty pictures
						h2.stuff17 (Unless you have a crappy graphics card)
						hr
						iframe.stuff21(src="https://duckduckgo.com/search.html?site=cyberarms.gq&bgcolor=000000&prefill=Search da site 4 Gamez&kp=-2&kz=1&kc=1&kn=1&kf=1&kac=-1&kh=1&k5=2&kj=%23000000&kae=t&k7=%23000000&km=m&k0=-2&k1=-1&kv=-1&t=cyberarms", style="color:#000000;background-color:#000000;overflow:hidden;margin:0;padding:0;width:408px;height:40px;justify-content:center;", frameborder="0")