html {
  background-color: transparent;
  background: url("https://scontent-dft4-2.cdninstagram.com/t51.2885-15/s1080x1080/e35/21879161_281770155655097_2485530434989981696_n.jpg") no-repeat center center fixed;
  background-size: 100% 100%;
}
footer {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.label-default {
  background-color: #323e5e;
  color: #707fa9;
}
.intro {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.navz {
  font-size: 125%;
  font-family: 'proxima_nova_semibold';
  border-color: #002a35;
  background-color: #002a35;
  color: #c9f2f2;
  text-align: center;
}
.stuff3 {
  border-color: #360500;
  background-color: #360500;
  border-radius: 80px;
  justify-content: center;
}
.stuff4 {
  color: #f6f0f2;
  font-size: 125%;
}
.stuff5 {
  border-color: #053000;
  background-color: #053000;
  border-radius: 80px;
  font-size: 125%;
  justify-content: center;
}
.stuff6 {
  color: #cdd0d5;
}
.stuff8 {
  font-size: 125%;
  background-color: #06143b;
  color: #90a3d6;
}
.fa,
font-size 1.22em {
  background-color: #06143b;
  color: #90a3d6;
}
.snoo {
  padding-right: 2em;
}
.bgimg {
  min-height: 100%;
  min-width: 1024px;
  width: auto;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}
.navtransparency {
  border-width: 0px;
  -webkit-box-shadow: 0px 0px;
  box-shadow: 0px 0px;
  background-color: rgba(0,0,0,0);
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,0)));
  background-image: -webkit-linear-gradient(270deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 100%);
  background-image: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 100%);
}
h1 {
  font-family: 'proxima_nova_extrabold';
  font-size: 6em !important;
}
.jumbotron {
  height: 2.2em;
  display: flex;
  align-items: center;
  background: url("https://i.imgur.com/n5vWklY.png") no-repeat center center fixed;
  background-size: cover;
  width: auto;
  height: auto;
  justify-content: center;
  margin-bottom: 0;
  display: flex;
}
body {
  background-color: transparent;
  overflow-x: hidden;
}
.stuff {
  color: #d6be46 !important;
  text-align: center;
  word-spacing: -0.2em;
}
.stuff2 {
  color: #bca327;
  text-align: center;
}
.page-header {
  margin: 0.1em 0.1em;
  margin-bottom: 0;
  margin-top: 0;
  border-color: transparent;
}
hr {
  border-color: transparent;
}
.navbar-brand {
  background-color: transparent !important;
  border-color: transparent !important;
}
.copyright {
  color: #c5ccdd s;
  border-radius: 5;
}
.navbar-brand {
  color: #bca327;
  font-size: 1.6em;
}
#navbar {
  background-color: transparent;
  border-color: transparent;
}
.navbar-default {
  background-color: transparent;
  border-color: transparent;
}
.navbar-nav > li > a,
.dropdown-menu > li > a {
  color: #62b6cb !important;
}
.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  background-color: #0f5257 !important;
  border-color: #0f5257 !important;
  color: #508184 !important;
}
.navbar-nav > .active > a,
.navbar-nav > .open > a {
  background-color: #0f5257 !important;
  color: #a5c7c7 !important;
}
.dropdown-menu {
  background-color: transparent;
  border-color: transparent;
}
.foooot {
  font-family: fontello;
  font-weight: normal;
  font-style: normal;
  speak: none;
  display: inline-block;
  font-size: 1.1em;
  text-align: center;
  padding-right: 2.2em;
  background-color: transparent !important;
  color: #307cb8;
  cursor: pointer;
}
.icon-mail-alt {
  font-family: fontello;
  font-weight: normal;
  font-style: normal;
  speak: none;
  display: inline-block;
  font-size: 1.1em;
  text-align: center;
  background-color: transparent !important;
  color: #307cb8;
}
.icon-github-circled:before {
  content: "\F09B";
}
.icon-reddit:before {
  content: "\F1A1";
}
.icon-mail-alt:before {
  content: "\F0E0";
}
.icon-rss-squared:before {
  content: "\F143";
}
