extends layout

block content
        .col-xs-12
            nav.navbar-default
                .container-fluid
                    .navbar-header
                        button(type="button", class="navbar-toggle collapsed", data-toggle="collapse", data-target="#navbar", aria-expanded="false", aria-controls="navbar")
                            span.sr-only Toggle navigation
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                        a.navbar-brand(href='#') CyberArms
                    #navbar.navbar-collapse.collapse
                        ul.nav.navbar-nav.navbar-right
                            li.nav-item.active.navz
                                a.navz(href="/") Home
                            li.nav-item.dropdown.navz
                                a.dropdown-toggle.navz.nav-link(href="/", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false")
                                        | Download 
                                        span.caret
                                    ul.dropdown-menu
                                        li.nav-item.navz.stuff14
                                            a.navz.stuff14.nav-link(href="/download/software") Software
                                        li.nav-item.navz.stuff14
                                            a.navz.stuff14.nav-link(href="/download/movies") Movies
                                        li.nav-item.navz.stuff14
                                            a.navz.stuff14.nav-link(href="/download/tv") TV
                                        li.nav-item.navz.stuff14
                                            a.navz.stuff14.nav-link(href="/download/games") Games
                                        li.nav-item.navz.stuff14
                                            a.navz.stuff14.nav-link(href="/download/music") Music
                                        li.nav-item.navz.stuff14
                                            a.navz.stuff14.nav-link(href="/download/books") Books
                            li.nav-item.navz
                                a.navz.nav-link(href="/upload") Upload
                            li.nav-item.navz
                                a.navz.nav-link(href="/about") About
                            li.nav-item.navz
                                a.navz.nav-link(href="/contact") Contact
        .container-fluid.text-xs-center
            hr
            hr
            hr
            hr
            hr
            .jumbotron
                .page-header
                    h1.stuff16 {{title}}
                    hr
                    h2.stuff24 {{blurb}}
                    hr
                    h3.stuff24 #[a(href="{{url}}", style="text-decoration:underline") Buy here]
                    hr
                    h3.stuff24 Written by {{author}}
                    hr
                    h3.stuff24 Format(s): {{formats}}
                    hr
                    hr
                    hr
                    h3.stuff24 Download&nbsp (&nbsp#[a(href="{{dlink}}", style="text-decoration:underline") Mirror 1]&nbsp, &nbsp&nbsp#[a(href="{{dlink2}}", style="text-decoration:underline") Mirror 2]&nbsp)