extends layout

block content
			.col-xs-12
			nav.navbar-default
				.container-fluid
					.navbar-header
						button(type="button", class="navbar-toggle collapsed", data-toggle="collapse", data-target="#navbar", aria-expanded="false", aria-controls="navbar")
							span.sr-only Toggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
						a.navbar-brand(href='#') CyberArms
					#navbar.navbar-collapse.collapse
						ul.nav.navbar-nav.navbar-right
							li.nav-item.navz
								a.navz(href="/") Home
							li.nav-item.dropdown.navz
								a.dropdown-toggle.navz.nav-link(href="/", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false")
										| Download 
										span.caret
									ul.dropdown-menu
										li.nav-item.navz.stuff14
											a.navz.stuff14.nav-link(href="/download/software") Software
										li.nav-item.navz.stuff14
											a.navz.stuff14.nav-link(href="/download/movies") Movies
										li.nav-item.navz.stuff14
											a.navz.stuff14.nav-link(href="/download/tv") TV
										li.nav-item.navz.stuff14
											a.navz.stuff14.nav-link(href="/download/games") Games
										li.nav-item.navz.stuff14
											a.navz.stuff14.nav-link(href="/download/music") Music
										li.nav-item.navz.stuff14
											a.navz.stuff14.nav-link(href="/download/books") Books
							li.nav-item.navz
								a.navz.nav-link(href="/upload") Upload
							li.nav-item.navz
								a.navz.nav-link(href="/about") About
							li.nav-item.active.navz
								a.navz.nav-link(href="/contact") Contact
			.container-fluid.text-xs-center
				hr
				hr
				hr
				hr
				hr
				.jumbotron
					.page-header
						h1.stuff16 Contact
						hr
						h2.stuff17 If you want to get in touch for any reason, email me at #[a(href="mailto:stuff@cyberarms.gq", style="text-decoration:underline") stuff@cyberarms.gq]
						hr
						h2.stuff2 If that doesn't work, #[a(href="https://reddit.com", style="text-decoration:underline") PM me on reddit]