doctype html
html
	head
	title= CyberArms
	link(rel='stylesheet', href='/stylesheets/fontello.css')
	link(rel='stylesheet', href='/stylesheets/proxima_nova_semibold.css')
	link(rel='stylesheet', href='/stylesheets/proxima_nova_extrabold.css')
	link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css')
	link(rel='stylesheet', href='/stylesheets/main.css', type='text/css')
	script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js")
	meta(name='viewport', content='width=device-width, initial-scale=1.0, viewport-fit=cover')
	meta(charset='utf-8')
	meta(name='description', content='A good archive of "bad" data')
	meta(name='author' content='Caesar')
	.body
	section#wrapper
		block content
	footer
		.container
			.col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
					hr
				p#foot1.copyright.text-muted.label.label-default Copyright © 2017 The CyberArms Project
					hr
				p#foot2.copyright.text-muted.label.label-default Powered by a whole lot of coffee.
					hr
				p#footico.label.label-default.stuff8
					a(href="https://github.com/TheArsenal/cyberarms.github.io")
						i.icon-github-circled.foooot.fa.a.span1
					a(href="https://reddit.com/r/cyberarms/")
						i.icon-reddit.foooot.fa.span1
					a(href="#")
						i.icon-rss-squared.foooot.fa.span1
					a(href="mailto:stuff@cyberarms.gq")
						i.icon-mail-alt.foooot.fa.span1
					a(href="https://gitter.im/cyberarmsproject/Lobby")
						i.icon-gitter-square.fooot.fa.span1
	script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-106750073-1')
	script.
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments)};
		gtag('js', new Date());
		gtag('config', 'UA-106750073-1');