.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: slategray;
}

.token.punctuation {
	color: #f8f8f2;
}

.namespace {
	opacity: .7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
	color: #f92672;
}

.token.boolean,
.token.number {
	color: #ae81ff;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: #a6e22e;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
	color: #f8f8f2;
}

.token.atrule,
.token.attr-value,
.token.function {
	color: #e6db74;
}

.token.keyword {
	color: #66d9ef;
}

.token.regex,
.token.important {
	color: #fd971f;
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

pre.code-toolbar {
	position: relative;
}

pre.code-toolbar > .toolbar {
	position: absolute;
	top: .3em;
	right: .2em;
	transition: opacity 0.3s ease-in-out;
	opacity: 0;
}

pre.code-toolbar:hover > .toolbar {
	opacity: 1;
}

pre.code-toolbar > .toolbar .toolbar-item {
	display: inline-block;
}

pre.code-toolbar > .toolbar a {
	cursor: pointer;
}

pre.code-toolbar > .toolbar button {
	background: none;
	border: 0;
	color: inherit;
	font: inherit;
	line-height: normal;
	overflow: visible;
	padding: 0;
	-webkit-user-select: none; /* for button */
	-moz-user-select: none;
	-ms-user-select: none;
}

pre.code-toolbar > .toolbar a,
pre.code-toolbar > .toolbar button,
pre.code-toolbar > .toolbar span {
	color: #bbb;
	font-size: .8em;
	padding: 0 .5em;
	background: #f5f2f0;
	background: rgba(224, 224, 224, 0.2);
	box-shadow: 0 2px 0 0 rgba(0,0,0,0.2);
	border-radius: .5em;
}

pre.code-toolbar > .toolbar a:hover,
pre.code-toolbar > .toolbar a:focus,
pre.code-toolbar > .toolbar button:hover,
pre.code-toolbar > .toolbar button:focus,
pre.code-toolbar > .toolbar span:hover,
pre.code-toolbar > .toolbar span:focus {
	color: inherit;
	text-decoration: none;
}
@media all and (max-width: 1200px) { /* screen size until 1200px */
    body {
        font-size: 1.5em; /* 1.5x default size */
    }
}
@media all and (max-width: 1000px) { /* screen size until 1000px */
    body {
        font-size: 1.2em; /* 1.2x default size */
        }
    }
@media all and (max-width: 500px) { /* screen size until 500px */
    body {
        font-size: 0.8em; /* 0.8x default size */
        }
    }
html
	background-color transparent
	background url(https://scontent-dft4-2.cdninstagram.com/t51.2885-15/s1080x1080/e35/21879161_281770155655097_2485530434989981696_n.jpg) no-repeat center center fixed
	background-size: 100% 100%
footer	
	margin-left auto
	margin-right auto
	text-align center
.label-default
	background-color #323e5e
	color #707fa9
.intro
	margin-left auto
	margin-right auto
	text-align center
.navz
	font-size 125%
	font-family 'proxima_nova_semibold'
	border-color #002a35	
	background-color #002a35
	color #c9f2f2
	text-align center
.stuff3
	border-color #360500
	background-color #360500
	border-radius 80px
	justify-content center
	text-align center
	font-size 30%
	white-space normal
.stuff4
	color #f6f0f2
	text-align center
	font-size 100%
	white-space normal
.stuff5
	border-color #053000
	background-color #053000
	border-radius 80px
	font-size 125%
	justify-content center
	text-align center
	font-size 30%
	white-space normal
.stuff6
	color #cdd0d5
	text-align center
	font-size 100%
	white-space normal
.stuff8
	font-size 125%
	background-color #06143b
	color #90a3d6
 .fa
 	font-size 1.22em
	background-color #06143b
	color #90a3d6
.snoo
	padding-right 2em
.bgimg
	min-height 100%
	min-width 1024px
	width auto
	height auto
	position fixed
	top 0
	left 0
.navtransparency
	border-width 0px
	-webkit-box-shadow 0px 0px
	box-shadow 0px 0px
	background-color rgba(0,0,0,0.0)
	background-image -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)))
	background-image -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%)
	background-image linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%)
h1
	word-wrap break-word !important
	font-family 'proxima_nova_extrabold'
	font-size 6em !important
.jumbotron
	height auto
	display:flex
	align-items center
	background url(https://i.imgur.com/n5vWklY.png) no-repeat center center fixed
	background-size cover
	width auto
	height auto
	justify-content center
	margin-bottom 0
	display flex
	font-size 6em
	word-wrap break-word !important
	overflow-wrap break-word !important
	white-space normal !important
	white-space nowrap
    overflow hidden
    text-overflow ellipsis
    overflow-wrap break-word
	word-wrap break-word
	word-break break-all
	word-break break-word
	hyphens auto
body
	background-color transparent
	overflow-x hidden
.stuff
	color #d6be46 !important
	text-align center
	word-spacing -.2em
.stuff2
	color #bca327
	text-align center
.page-header
	margin 0.1em 0.1em
	margin-bottom 0
	margin-top 0
	border-color transparent
hr
	border-color transparent
.navbar-brand
	background-color transparent !important
	border-color transparent !important
.copyright
	color #c5ccdds
	border-radius 5
.navbar-brand
	color #bca327
	font-size 1.6em
#navbar
	background-color transparent
	border-color transparent
.navbar-default
	background-color transparent
	border-color transparent
.navbar-nav > li > a
.dropdown-menu > li > a
	color #62b6cb !important
.navbar-nav > li > a:hover
.navbar-nav > li > a:focus
.dropdown-menu > li > a:hover
.dropdown-menu > li > a:focus
	background-color #0f5257 !important
	border-color #0f5257 !important
	color #508184 !important
.navbar-nav > .active > a
.navbar-nav > .open > a
	background-color #0f5257 !important
	color #a5c7c7 !important
.dropdown-menu
	background-color transparent
	border-color transparent
.foooot
	font-family fontello
	font-weight normal
	font-style normal
	speak none
	display inline-block
	font-size 1.1em
	text-align center
	padding-right 2.2em
	background-color transparent !important
	color #307CB8
	cursor pointer
.icon-mail-alt
	font-family fontello
	font-weight normal
	font-style normal
	speak none
	display inline-block
	font-size 1.1em
	text-align center
	background-color transparent !important
	color #307CB8
.icon-github-circled:before
	content "\F09B"
.icon-reddit:before
	content "\F1A1"
.icon-mail-alt:before
	content "\F0E0"
.icon-rss-squared:before
	content "\F143"
.stuff15
	color #bca327
	text-align center
	font-size 3em
	font-family 'proxima_nova_bold'
.stuff16
	color #d6be46 !important
	text-align center
	font-size 100% !important
.stuff17
	color #bca327
	text-align center
	font-size 40% !important
	font-family 'proxima_nova_semibold'
.stuff18
	color #bca327
	text-align center
	font-size 2em
	font-family 'proxima_nova_semibold'
.stuff19
	color #bca327
	text-align center
	font-size 0.2em
.breadcrumb
	color #bca327
	text-align center
	background-color transparent
	font-size 1.3em
.stuff22
	color #bca327
	text-align center
	font-size 30%
	white-space normal
monospace
	background-color black
	color #1EFF00
.nodisplay
	display none
.asdfj
	font-family Monaco, Consolas, "Lucida Console"
	font-size 30% !important
	color #44bf44
	text-align center
.h2
	word-wrap break-word
.h3
	-ms-word-break: break-all;
	word-break: break-all;

	// Non standard for webkit
	word-break: break-word;

	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
#example1
	word-wrap break-all !important
	overflow-wrap break-word !imortant
	white-space normal !important
code[class*="language-"],
pre[class*="language-"] {
	color: #f8f8f2;
	background: none;
	text-shadow: 0 1px rgba(0, 0, 0, 0.3);
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	text-align: left;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
	border-radius: 0.3em;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: #272822;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
	white-space: normal;
}
.stuff24
	color #bca327
	text-align center
	font-size 35% !important
	font-family 'proxima_nova_semibold'
	margin-right 7%
	margin-left 7%
.icon-gitter-square:before
	content "\e800"
.fooot
	font-family fontello
	font-weight normal
	font-style normal
	speak none
	display inline-block
	font-size 1.1em
	text-align center
	background-color transparent !important
	color #307CB8
	cursor pointer